@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>This controller uses GemFire Native Client classes directly for accessing GemFire</h3>
</div>
