@model int
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome (@Model hits recorded in session)</h1>
    <h3>This controller uses an implementation of IDistributedCache for accessing GemFire</h3>
</div>
